*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #936c00;
  color: white;
}

.topnav a.active {
  background-color: #845ec2;
  color: #fff7e8;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

.header {
  margin-top: 10rem;
  text-align: center;
  text-shadow: 1px 1px 2px #0B1732, 0 0 1em #0B1732, 0 0 0.2em blue;
  color: white;
  font: 4em Georgia, serif;
}

h2 {
  text-align: center;
  display: block;
  font-size: 4em;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #141414;
}

.cast-preview {
  display: flex;
  flex-direction: row;
}

.Plot-part {
  width: 100%;
  margin: auto;
}

.main-text {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #b6a999;
  display: flex;
  align-content: center;
  max-width: 560px;
  margin: auto;
  border: 49px solid;
  border-image: url(https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExNDMtZnJhbWUxLTAxYS14XzEuanBn.jpg?s=czk87uVX2dAc9Xo6ym1BPeoeipdc9k-mzyOCyh9Xzak)
    98 / 49px / 30px repeat;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #dfe0df;
  width: 250px;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  background-color: gray;
}

.card-image {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px;
}

.name-title {
  color: #4f4538;
  margin: 20px 20px;
  height: 2px;
  text-align: center;
  font-weight: ;
}

.picture {
  border-radius: 15px;
  background-position: center;
  margin-left: 15px;
  margin-top: 10px;
}

.text {
  color: #271801;
  background-color: #2F4B46
  height: 100px;
  font-size: small;
  padding: 10px 15px;
}

.card a {
  background-color: #4f4538;
  color: #eecda5;
  padding: 5px 50px;
  display: block;
  text-align: center;
  text-size-adjust: small;
  width: 250px;
  border-radius: 5px;
}

.Video {
  height: auto;
  max-width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images-class {
  height: auto;
  margin: auto;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-family: "Qwitcher Grypen", cursive;
  text-align: center;
  color: #fff7e8;
  font-size: 20px;
}
.search-bar {
  position: fixed;
  margin-left: 200px;
}

@media screen and (min-width: 390px) {
  body {
    background-color: #00c9b0;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: #dfe0df;
  }
}
