@media screen and (min-width: 390px) {
  body {
    background-color: #00c9b0;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: #dfe0df;
  }
}

.title {
  background-color: #e6b576;
  margin-left: auto;
  align-content: center;
}

.search-bar {
  font-size: 20px;
  float: right;
}

.button {
  color: #17c820;
}

a:link {
  background-color: #fff7e8;
}

a:visited {
  background-color: #4b8178;
}

a:hover {
  background-color: #b6a999;
}

.year-button {
  color: #825b09;
  background-color: #fff7e8;
  font-size: 20px;
  font-weight: bold;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 400px;
  margin-right: 300px;
}

.year-button:hover {
  background-color: #13b8a2;
  box-shadow: 4px 4px 10px #fff7e8;
}

h2 {
  text-align: center;
}
h3 {
  color: #00c9b0;
  display: inline-block;
}

.cast-preview {
  display: flex;
  flex-direction: row;
}

body {
  color: #fff7e8;
  font-size: 30px;
}

.Plot-part {
  width: 100%;
}
.main-text {
  width: 50%;
  color: black;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #b6a999;
  text-align: justify;
  display: flex;
  justify-content: middle;
  align-items: center;
  align-content: center;
  max-width: 350px;
  margin: auto;
  padding: 30px 30px 30px 30px;
}

.span-example {
  color: #fff7e8;
  cursor: pointer;
}

.span-example:hover {
  text-decoration: underline;
  font-weight: bold;
}

.class-preview {
  width: 20px;
}

ul {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 20px;
}

li {
  list-style-type: none;
  text-shadow: 2px 3px 3px rgb(139, 113, 34);
}

.final-image {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #09820f;
  font-size: la;
  border-radius: 8px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.question:hover {
  font-weight: bold;
}

.images-class {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  object-fit: contain;
}

.cast-preview {
  margin-top: 50px;

  margin-left: 400px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #dfe0df;
  width: 250px;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  background-color: gray;
  cursor: pointer;
}

.card-image {
  background-color: #13b8a2;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px;
}

.name-title {
  color: #4f4538;
  padding: 3px;
  margin-top: 0px;
  height: 2px;
  text-align: center;
}

.picture {
  border-radius: 15px;
  background-position: center;
  margin-left: 15px;
  margin-top: 10px;
}

.text {
  color: #b6a999;
  background-color: #4b8178;
  border-color: #825b09;
  height: 100px;
  font-size: medium;
}

.card a {
  background-color: #4f4538;
  color: #b6a999;
  padding: 5px 15px;
  display: block;
  text-align: center;
  text-size-adjust: small;
  margin: 5px 5px;
  border-radius: 15px;
}

.video {
  width: 50%;
}

.last-image {
  width: 60%;
}
footer {
  font-family: "Qwitcher Grypen", cursive;
  text-align: center;
  color: #fff7e8;
  font-size: 20px;
}
.search-bar {
  position: fixed;
  margin-left: 200px;
}
