@media screen and (min-width: 390px) {
  body {
    background-color: #00c9b0;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: #dfe0df;
  }
}

.title {
  background-color: #e6b576;
  margin-left: auto;
  align-content: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #bd9494;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #936c00;
  color: black;
}

.topnav a.active {
  background-color: #845ec2;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

h2 {
  text-align: center;
  display: block;
  font-size: 4em;
  margin-top: 3rem;
}

.cast-preview {
  display: flex;
  flex-direction: row;
}

body {
  color: #fff7e8;
}

.Plot-part {
  width: 100%;
  margin: auto;
}

.main-text {
  width: 50%;
  color: black;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #b6a999;
  text-align: justify;
  display: flex;
  justify-content: middle;
  align-items: center;
  align-content: center;
  max-width: 350px;
  margin: auto;
  padding: 30px 30px 30px 30px;
}

.span-example {
  color: #fff7e8;
  cursor: pointer;
}

.span-example:hover {
  text-decoration: underline;
  font-weight: bold;
}

.class-preview {
  width: 20px;
}

ul {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 20px;
}

li {
  list-style-type: none;
  text-shadow: 2px 3px 3px rgb(139, 113, 34);
}

.question:hover {
  font-weight: bold;
}

.cast-preview {
  margin-top: 50px;

  margin-left: 400px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #dfe0df;
  width: 250px;
  margin: 10px;
  border-radius: 15px;
}

.card:hover {
  background-color: gray;
  cursor: pointer;
}

.card-image {
  background-color: #13b8a2;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px;
}

.name-title {
  color: #4f4538;
  padding: 3px;
  margin-top: 0px;
  height: 2px;
  text-align: center;
}

.picture {
  border-radius: 15px;
  background-position: center;
  margin-left: 15px;
  margin-top: 10px;
}

.text {
  color: #b6a999;
  background-color: #4b8178;
  border-color: #825b09;
  height: 100px;
  font-size: medium;
}

.card a {
  background-color: #4f4538;
  color: #b6a999;
  padding: 5px 15px;
  display: block;
  text-align: center;
  text-size-adjust: small;
  margin: 5px 5px;
  border-radius: 15px;
}

.video {
  width: 70%;
  height: auto;
  max-width: 390px;
}

.image-class {
  margin-left: 30%;
}

footer {
  font-family: "Qwitcher Grypen", cursive;
  text-align: center;
  color: #fff7e8;
  font-size: 20px;
}
.search-bar {
  position: fixed;
  margin-left: 200px;
}
